.video{
    max-width: 900px;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.9) 0px -3px 5px;
}
.home-container-image{
    max-width: 500px;
    border-radius: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, .3) 0px -3px 5px;
}

.animate__bounceIn{
    padding-top: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.homeTitle{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.topTitle{
    border-radius: 10px;
    color: black;
    font-size: 39px;
    font-weight:bolder;
    padding-top: 0px;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.subTitle{
    border-radius: 10px;
    color: black;
    font-size: 27px;
    font-weight:500;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.animate__bounceIn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/home.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; 
    z-index: -1;
  }

  .logoDiv{
    border-radius: 22px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }

.grid-container{
    display:grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .video {
      width: 80%; 
      height: auto; 
    }
  
    .home-container-image {
      width: 80%; 
      height: auto; 
    }
  }
  
  @media (min-width: 920px) and (max-width: 1200px) {
    .video{
      width: 80%; 
      height: auto;
    }
}

@media (min-width: 920px) and (max-width: 1200px) {
    .home-container-image,
    .logoDiv{
      width: 75%; 
      height: auto;
    }
}

  @media (min-width: 768px) and (max-width: 920px) {
    .video{
      width: 100%; 
      height: auto;
    }
}

  @media (min-width: 768px) and (max-width: 920px) {
    .home-container-image,
    .logoDiv{
      width: 75%; 
      height: auto;
    }
}

  @media (max-width: 768px) {
    .video{
      width: 80%; 
      height: auto;
    }
}

  @media (max-width: 768px) {
    .home-container-image {
      width: 40%; 
      height: auto;
    }
    


    .topTitle,
    .subTitle {
      margin-left: 20px;
      margin-right: 20px;
      font-size: smaller; 
    }
    
    .grid-container {
      grid-template-columns: 1fr; 
      gap: 20px; 
    }
  }
  
  @media (max-width: 576px) {
    .topTitle,
    .subTitle {
      font-size: smaller; 
  }
}