.newTitle {display: flex;
    justify-content: space-evenly;
    


    font-size: 36px;
    font-weight: 600;
}

form {
    padding-right: 60px;
    width: 600px;
}

.left-container-newForm img {
    width: 700px;
    border-radius: 30px;
}

.spacer2 {
    padding-right: 20px;
}


.topNewPage{
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url('/newActor2.jpeg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding-bottom: 340px;
}