img.task-img-left {
    width: 450px;
    border-radius: 50%;
}

img.task-img-right {
    width: 450px;
    border-radius: 50%;
}

.spacer-left {
    width: 100px;
}

.spacer-right {
    width: 60px;
}


  
  @media (max-width: 1600px) {
    img.task-img-left,
    img.task-img-right {
      max-width: 220px; 
    }
  }
  
  @media (max-width: 576px) {
    img.task-img-left,
    img.task-img-right {
      max-width: 110px;
    }
  }
  
  
  
  @media (max-width: 576px) {
    img.task-img-left,
    img.task-img-right {
      width: 110px; 
    }
  }
    
  
  @media (max-width: 576px) {
    img.task-img-left,
    img.task-img-right {
      width: 110px; 
    }
  }
  

@media (max-width: 1600px) {
  img.task-img-left,
  img.task-img-right {
    width: 280px;
  }
}

@media (max-width: 1200px) {
  img.task-img-left,
  img.task-img-right {
    width: 200px; 
  }
}

@media (max-width: 992px) {
  img.task-img-left,
  img.task-img-right {
    width: 150px; 
  }
}

@media (max-width: 768px) {
  img.task-img-left,
  img.task-img-right {
    width: 130px; 
  }
}

@media (max-width: 576px) {
  img.task-img-left,
  img.task-img-right {
    width: 110px; 
  }
}
