.ShowActor{
    margin-top: -30px;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url('/actorDetails.jpeg');
    font-size: 18px;
    background-attachment: fixed;
    background-position: left;
}

.titleShowActor{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}