.form-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form.label {
    background-color: grey;
}


.form-edit-container-button {
    display: flex;
    justify-content: space-around;
}