
  

.form-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size:20px; 
}

form.label {
    background-color: grey;
}


.form-edit-container-button {
    display: flex;
    justify-content: space-around;

}

.form-edit-container {
    max-width: 600px; 
    margin: auto;
    padding: 20px; 
}

.form-edit-container .row {
    margin-bottom: 10px; 
}


.form-edit-container .form-label {
    font-size: 24px;
}

.form-edit-container-button button {
    padding: 5px 15px; 
    font-size: 14px; 
}

.back {
    width: 200px;
    height: 45px;
    font-size: 3rem;
}

