.movie-detail-container {
    display: flex;
    justify-content: space-between;
  }
  
  .sidebar {
    border-radius: 10px;
    margin-left:30px;
    max-height: 810px;
    width: 20%;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .sidebar button,
  .sidebar a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .movie-details {
    max-width: 65%;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-right: 80px;
  }
  
  table {
    width: 95%;
  }
  
  table th {
    text-align: left;
    font-weight: bold;
    padding-right: 20px;
  }
  
  table td {
    padding-bottom: 10px;
  }

  .atlBtnColor{
    background: linear-gradient(90deg, #2a0eaa 25%, #080514 100%);
    padding: 0;
    margin: 0;
  }

  .imageV2{
    justify-content: center;
    display:flex;
  }

.details-aside-back {
margin-left: 10px;
}

img {
  border-radius: 10px;
}

.split {
  max-width: 100px;
}

.aside-container-top-btn {
  display: flex;
  padding: 10px;
}
.back  {
}

.delete  {
  padding-right: 10px;
}