.movies-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: -20px;
    margin-top:-20px;
  }

  .movies-container-image {
    width:400px;
    height: 450px;
    max-height: 500px;
    min-width: 50px;
    border-radius: 45px;
    justify-content: left;
    margin-right: 5px;
    margin-top:70px;
    margin-left:-30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
  
  table {
    margin: 0 30px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px,
              rgba(0, 0, 0, 0.17) 0px 12px 13px, 
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
  }
  
  table th {
    text-align: left;
    font-weight: bold;
  }
  
  table tr:hover td {
    background-color: #2a0eaa;
    color:white;
  }
  
  .movie-container-pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
  .movie-container-pagination Button, span {
    margin: 20px;
  }

  .name {
    text-align: center;
    color:white;
  }
  .director {
    text-align: center;
  }
  .balance {
    text-align: center;
  }
  .schedule {
    text-align: center;
  }
  .image {
    text-align: center;
  }

  .balance{
    font-size: 30px;
    text-align: left;
    margin-left: -100px;
  }