.form-edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size:20px; 
}

form.label {
    background-color: grey;
}


.form-edit-container-button {
    display: flex;
    justify-content: space-around;
}