
 .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    height: 50px;
    top: 0; 
    width: 100%; 
    left: 0;
    font-size: 10px;
    background: linear-gradient(90deg, #2a0eaa 25%, #080514 65%);
    /* background: linear-gradient(90deg, #080514 25%, #2a0eaa 100%); */
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: grey;
    color: black;
  }
  
.container{
  color: #333;
}

.contain{
  border-radius: 70px;
  margin-right: 10px;
  margin-bottom:10px;
}

.bi{
  margin: 45px;
}

img {
  margin-top: 10px;
}






