img.contain {
  width: 175px;
  cursor: pointer;
  background-color: rgba(42,14,170, .95);
}

.home {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(42,14,170, .95);
}


.nav {
  /* position: relative; */
  /* height: 100px; */
  background: linear-gradient(90deg, #2a0eaa 25%, #080514 65%);
}

div.create {
  padding-top: 25px;
  padding-left: 40px;
  /* background-color: rgba(42,14,170,); */
}

div.list {
  padding-top: 25px;
  padding-left: 40px;
  background-color: rgba(42,14,170,);
}

.list-a {
  background-color: rgba(42,14,170, .95); }

.list {
padding-top: 11px;
  background-color: rgba(42,14,170, .95);
  color: white;
  cursor: pointer;
}

.create {
padding-top: 11px; 
  background-color: rgba(42,14,170, .95);
  color: white;
  cursor: pointer;
}

.spacer-nav {
  width: 40px;
}

@media (max-width: 1200px) {
  .contain {
    width: 150px;
    background-color: rgba(42,14,170, .95);
  }
    .list,
    .create {
      max-width: 45px;
    }
    .list {
      z-index: 3;
    }
    .create {
      z-index: 2;
    }
}

@media (max-width: 992px) {
  .contain {
    width: 130px;
  }

  .list,
  .create {
    max-width: 40px;
    left: calc(3% - 0px);
    background: linear-gradient(270deg, #2a0eaa 35%, #080514 75%); 

  }
  svg.create.bi.bi-pencil-square {
    height: 50px;
    background: linear-gradient(270deg, #2a0eaa 35%, #080514 75%); 
  }
}

@media (max-width: 768px) {
  .contain {
    width: 110px;
  }

  .list,
  .create {
    max-width: 35px;
    left: calc(0% - 0px);
  }
}

@media (max-width: 576px) {
  .contain {
    width: 90px;
  }

  .list,
  .create {
    max-width: 30px;
    left: calc(-10% - 0px);
  }
}

@media (max-width: 480px) {
  .contain {
    width: 5px;
  }

  .list,
  .create {
    max-width: 25px;
  }
  .navbar a {
    padding: 10px;
    margin-right: 10px;
  }
}
