
 .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    width: 100%;
    
    font-size: 10px;
    background: linear-gradient(90deg, #2a0eaa 25%, #080514 100%);
    /* background: linear-gradient(90deg, #080514 25%, #2a0eaa 100%); */
  }

  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
.container{
  color: #333;
}








